/*? fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Oswald:wght@300;400&display=swap");

/*? variables */
:root {
  /** colors */
  --blue-color-1: #345b63;
  --blue-color-2: #edffec;
  --blue-color-3: #efeff0;
  --blue-color-4: #5eaaa8;
  --bg-color: #9ab7f515;
  --red-color-1: #da0037;
  --green-color-1: #519872;
  --yellow-color-1: #ffcc1d;
  --gray-color-1: #423f3ede;
  --white-color: #fff;

  /** sizes */
  --max-width: 1124px;
  --header-height: 5rem;
  --footer-height: 5rem;
  --breadcrumb-height: 5rem;

  /** styles */
  --transition: 0.3s;
  --radius: 0.2rem;
}

/*? resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  background: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*? typographi */
html {
  font-size: 0.562rem;
}

@media (min-width: 576px) {
  html {
    font-size: 0.625rem;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 0.687rem;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 0.75rem;
  }
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.7rem;
}
h5 {
  font-size: 1.5rem;
}
p {
  font-size: 1.3rem;
}
a {
  font-size: 1.5rem;
}

/*? global styles */

body {
  background: var(--bg-color);
  color: var(--gray-color-1);
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

section {
  width: min(100%, var(--max-width));
  margin: 0 auto;
}
main {
  margin-top: var(--header-height);
}

a {
  color: var(--green-color-1);
  transition: var(--transition);
}
a:hover {
  color: var(--blue-color-1);
}
/*? global class */

.page {
  min-height: calc(
    100vh -
      (var(--header-height) + var(--footer-height) + var(--breadcrumb-height))
  );
}
.page-w-b {
  margin-top: var(--header-height);
  min-height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

/** react transition group */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 0;
  position: absolute;
}
